* {
  box-sizing: border-box;
}

// html {
//   font-family: sans-serif;
//   font-size: 15px;
// }

body {
  margin: 0;
}

$width: 19;
$height: 9;
$size: 3vw;

.container {
  display: grid;
  zoom: 1.5;
  // grid-template-columns: repeat(18);
  // grid-template-rows: repeat(8);
  width: $width * $size;
  height: $height * $size;
  // background-color: lightgray;
  background-image: url('/img/tile.png');
  background-size: $size $size;
}

.stage {
  width: 1020px;
  height: 510px;
  background-image: url('/img/tile.png');
  position: relative;
}

.entity {
  position: absolute;
  width: $size;
  height: $size;

  &--pac {
    position: absolute;
    font-weight: bold;
    text-align: center;
    user-select: none;
    background-size: $size * 2 $size * 4;
  }

  &--pac-left {
    background-position-y: $size * 3;
  }
  &--pac-right {
    background-position-y: 0;
  }
  &--pac-down {
    background-position-y: $size * 2;
  }
  &--pac-up {
    background-position-y: $size;
  }
  &--pac-closed {
    background-position-x: $size;
  }

  &--wall {
    background-image: url('/img/wall.png');
    background-size: $size $size;
  }

  &--apple {
    background-image: url('/img/apple.png');
  }

  &--bomb {
    background-image: url('/img/bomb.png');
  }

  &--tomb {
    background-image: url('/img/tomb.png');
  }
}

.pacboy {
  &-active-light {
    background-image: url('/img/pacboy-active-light.png');
  }

  &-active-medium {
    background-image: url('/img/pacboy-active-medium.png');
  }

  &-active-dark {
    background-image: url('/img/pacboy-active-dark.png');
  }
}

.pacgirl {
  &-active-light {
    background-image: url('/img/pacgirl-active-light.png');
  }

  &-active-medium {
    background-image: url('/img/pacgirl-active-medium.png');
  }

  &-active-dark {
    background-image: url('/img/pacgirl-active-dark.png');
  }
}
