* {
  box-sizing: border-box;
}

// html {
//   font-family: sans-serif;
//   font-size: 15px;
// }

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

$width: 19;
$height: 9;
$size: 3vw;

.container {
  display: grid;
  zoom: 1.5;

  width: $width * $size;
  height: $height * $size;
  background-image: url('/img/tile.png');
  background-size: $size $size;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stage {
  width: 1020px;
  height: 510px;
  background-image: url('/img/tile.png');
  position: relative;
}

.entity {
  position: absolute;
  width: $size;
  height: $size;

  &--pac {
    position: absolute;
    font-weight: bold;
    text-align: center;
    user-select: none;
    background-size: $size * 2 $size * 4;
  }

  &--pac-left {
    background-position-y: $size * 3;
  }
  &--pac-right {
    background-position-y: 0;
  }
  &--pac-down {
    background-position-y: $size * 2;
  }
  &--pac-up {
    background-position-y: $size;
  }
  &--pac-closed {
    background-position-x: $size;
  }

  &--wall {
    background-image: url('/img/wall.png');
    background-size: $size $size;
  }

  &--apple {
    background-image: url('/img/apple.png');
    background-size: $size $size;
  }

  &--bomb {
    background-image: url('/img/bomb.png');
    background-size: $size $size;
  }

  &--tomb {
    background-image: url('/img/tomb.png');
    background-size: $size $size;
  }
}

.pacboy {
  &-active-light {
    background-image: url('/img/pacboy-active-light.png');
  }

  &-active-medium {
    background-image: url('/img/pacboy-active-medium.png');
  }

  &-active-dark {
    background-image: url('/img/pacboy-active-dark.png');
  }
}

.pacgirl {
  &-active-light {
    background-image: url('/img/pacgirl-active-light.png');
  }

  &-active-medium {
    background-image: url('/img/pacgirl-active-medium.png');
  }

  &-active-dark {
    background-image: url('/img/pacgirl-active-dark.png');
  }
}

.score--container {
  position: absolute;
  left: 40%;
  top: 20%;
  font-size: 24px;

  .score {
    display: inline-block;
  }
}
